@import "../../node_modules/bootstrap-v4-dev/scss/variables";

.page-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  &__form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }
  }

  &__header {
    margin-bottom: 10px;
  }

  &__alert {
    margin-bottom: 10px;
    font-size: 14px;
    background: none !important;
  }

  &__register-link {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    &__nav-link {
      padding-left: 0 !important;
    }
  }

  // When input is...
  //   1. NOT empty
  //   2. NOT in focus
  //   3. NOT valid
  input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: $alert-danger-text;
  }

  // When that invalid input becomes in focus (and also still isn't empty)
  input:invalid:focus:not(:placeholder-shown) {
    border-color: $alert-danger-text;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
